<div class="row justify-content-center">
    <div>
      <div class="container">
        <form [formGroup]="productoForm"  (ngSubmit)="addNewProducto()">
          
          <mat-toolbar style="margin-bottom: 30px;">
            <span class="example-spacer"></span>
            <h2><strong>Agrega Producto</strong></h2>
            <span class="example-spacer"></span>
          </mat-toolbar>

          <div style="text-align:center">
            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Escribe el nombre" formControlName="title" autocomplete="off">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Proveedor</mat-label>
                <mat-select formControlName="id_suplier">
                  <mat-option *ngFor="let i of suppliersList" value="{{i.id}}">
                    {{i.tittle}}
                  </mat-option>
                </mat-select>

              </mat-form-field>
            </div>

            <div>
                <mat-form-field style="width: 100%;">
                  <mat-label>Categoría</mat-label>
                  <mat-select formControlName="id_category">
                    <mat-option *ngFor="let i of categoryList" value="{{i.id}}">
                      {{i.tittle}}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
            </div>
      
            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Cantidad por Unidad</mat-label>
                <input matInput placeholder="Escribe la cantidad por unidad" formControlName="quantity_per_unit" autocomplete="off">
              </mat-form-field>
            </div>
    
            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Precio Unitario</mat-label>
                <input matInput placeholder="Escribe el precio unitario" formControlName="unite_price" autocomplete="off">
              </mat-form-field>
            </div>

            <div style="margin-bottom: 10px;">
              <mat-form-field style="width: 100%; ">
                <mat-label>Stock</mat-label>
                <input matInput placeholder="Escribe el stock" formControlName="stock" autocomplete="off">
              </mat-form-field>
            </div>
            
            <div>
              <mat-label style="float: left; ">Descontinuado</mat-label>
              <br>
              <mat-radio-group  formControlName="discontinued">
                <mat-radio-button value="true" style="margin-right: 16px;">Sí</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
      
            <div id="buttons">
              <button mat-raised-button color="primary" style="margin:20px" type="submit">Agregar</button>
              <button type="button" mat-raised-button color="warn" data-dismiss="modal" (click)="cancel()">Cancelar</button>
            </div>
          </div>
            
        </form>
      </div>
    </div>
  </div>