
<form [formGroup]="personalForm" *ngFor="let i of personalList" action="">

    <mat-toolbar>
        <span class="example-spacer"></span>
        <h2><strong>Detalle Personal</strong></h2>
        <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-list>

        <span>Nombres:</span>
        <h3 class="interDetail"> {{i.firstname}} </h3>
        <mat-divider ></mat-divider>

        <span>Apellidos:</span>
        <h3 class="interDetail"> {{i.lastname}} </h3>
        <mat-divider></mat-divider>

        <span>Cargo:</span>
        <h3 class="interDetail"> {{i.job_title}} </h3>
        <mat-divider></mat-divider>

        <span>N° celular:</span>
        <h3 class="interDetail"> {{i.phone}} </h3>
        <mat-divider></mat-divider>
        
        <span>DNI:</span>
        <h3 class="interDetail"> {{i.dni}} </h3>
        <mat-divider></mat-divider>

        <span>Dirección:</span>
        <h3 class="interDetail"> {{i.address}} </h3>
    </mat-list>

    <div class="btn">
        <button mat-raised-button color="primary" (click)="cancel()">Aceptar</button>
    </div>

</form>