<div class="row justify-content-center mt-5">
    <div class="col-md-10">
      <div class="container">
        <form [formGroup]="personalForm" (ngSubmit)="editNewPersonal()">
          <mat-toolbar style="margin-bottom: 30px;">
            <span class="example-spacer"></span>
            <h2><strong>Edita Personal</strong></h2>
            <span class="example-spacer"></span>
          </mat-toolbar>
          <div style="text-align:center">
            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Escribe el nombre" formControlName="firstname" autocomplete="off">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Escribe el apellido" formControlName="lastname" autocomplete="off">
              </mat-form-field>
            </div>

            <div>
                <mat-form-field style="width: 100%;">
                  <mat-label>Cargo</mat-label>
                  <input matInput placeholder="Escribe el cargo" formControlName="job_title" autocomplete="off">
                </mat-form-field>
            </div>
      
            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>N° Celular</mat-label>
                <input matInput placeholder="Escribe N° de celular" formControlName="phone" autocomplete="off">
              </mat-form-field>
            </div>
    
            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>DNI</mat-label>
                <input matInput placeholder="Escribe el apellido" formControlName="dni" autocomplete="off">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Dirección</mat-label>
                <input matInput placeholder="Escribe el apellido" formControlName="address" autocomplete="off">
              </mat-form-field>
          </div>
      
            <div id="buttons">
              <button mat-raised-button color="primary" style="margin:20px" type="submit">Guardar</button>
              <button type="button" mat-raised-button color="warn" data-dismiss="modal" (click)="cancel()">Cancelar</button>
            </div>
          </div>
            
        </form>
      </div>
    </div>
  </div>