<div class="row justify-content-center">
    <div>
      <div class="container">
        <form [formGroup]="productoForm" (ngSubmit)="editNewProducto()">
          <mat-toolbar style="margin-bottom: 30px;">
            <span class="example-spacer"></span>
            <h2><strong>Edita Producto</strong></h2>
            <span class="example-spacer"></span>
        </mat-toolbar>
          <div style="text-align:center">
            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Escribe el nombre" formControlName="title" autocomplete="off">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Proveedor</mat-label>
                <input matInput placeholder="Escribe el proveedor" formControlName="id_suplier" autocomplete="off">
              </mat-form-field>
            </div>

            <div>
                <mat-form-field style="width: 100%;">
                  <mat-label>Categoría</mat-label>
                  <input matInput placeholder="Escribe la categoría" formControlName="id_category" autocomplete="off">
                </mat-form-field>
            </div>
      
            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Cantidad por Unidad</mat-label>
                <input matInput placeholder="Escribe la cantidad por unidad" formControlName="quantity_per_unit" autocomplete="off">
              </mat-form-field>
            </div>
    
            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Precio Unitario</mat-label>
                <input matInput placeholder="Escribe el precio unitario" formControlName="unite_price" autocomplete="off">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Stock</mat-label>
                <input matInput placeholder="Escribe el stock" formControlName="stock" autocomplete="off">
              </mat-form-field>
            </div>

            <div>
                <mat-form-field style="width: 100%;">
                  <mat-label>Descontinuado</mat-label>
                  <input matInput placeholder="Escribe si esta descontinuado" formControlName="discontinued" autocomplete="off">
                </mat-form-field>
              </div>
      
            <div id="buttons">
              <button mat-raised-button color="primary" style="margin:20px" type="submit">Guardar</button>
              <button type="button" mat-raised-button color="warn" data-dismiss="modal" (click)="cancel()">Cancelar</button>
            </div>
          </div>
            
        </form>
      </div>
    </div>
  </div>