<div class="container">
    <mat-toolbar>
        <span>Personal</span>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" (click)="addPersonal()">Agregar</button>
    </mat-toolbar>

    <div *ngIf="listPersonal$ | async as listPersonal">
      <mat-form-field *ngIf="pageLength > 0">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter()" [(ngModel)]="searchKey" placeholder="Busca algo..." #input autocomplete="off">
        <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="mat-elevation-z8" *ngIf="pageLength > 0">
        <table mat-table [dataSource]="dataSource" matSort>
        
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- nombre Column -->
          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
          </ng-container>
        
          <!-- apellido Column -->
          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
          </ng-container>
        
          <!-- puesto Column -->
          <ng-container matColumnDef="job_title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </th>
            <td mat-cell *matCellDef="let element"> {{element.job_title}} </td>
          </ng-container>
  
          <!-- telefono Column -->
          <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>
  
          <!-- dni Column -->
          <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
              <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
          </ng-container>
  
          <!-- direccion Column -->
          <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>
  
          <!-- acciones Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" style="text-align:right;"> 
              <a class="pointer" style="color: #1f516f" matTooltip="Ver Detalle" (click)="detailPersonal(element.id, element)">
                <mat-icon>read_more</mat-icon>
              </a>
              <a class="pointer" style="color: #1f516f;" matTooltip="Editar" (click)="editPersonal(element.id, element)">
                <mat-icon>edit</mat-icon>
              </a>
              <a class="pointer" style="color: #e15639" matTooltip="Eliminar" (click)="deletePersonal(element.id, element)">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="pageLength" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

    <h1 class="emptyIn" *ngIf="pageLength == 0">No existe ningún registro!</h1>

</div>
