<mat-toolbar color="primary">
    <span>SERVITEC</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Inicio</button>
    <button mat-button routerLink="/dashboard/personal">Personal</button>
    <button mat-button routerLink="/dashboard/productos">Productos</button>
    <button mat-button routerLink="/dashboard/ventas">Ventas</button>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>logout</mat-icon>
      </button>
</mat-toolbar>